<%- partial('_partial/head') %>
<body>

    <div id="wrap" class="stripe grid_1200">
        <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
        <div class="clearfix"></div>

        <div class="sections">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 main-content">
                        <%- body %>
                    </div>
                    <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
                        <div class="col-md-4 sidebar">
                            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
                        </div>
                    <% } %>
                </div>
            </div>            
       </div>
       <div class="clearfix"></div>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>    
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>  
</body>
</html>