<div class="post post-2 post-gallery single-post">
    <div class="post-type"><i class="fa fa-image"></i></div>
    <div class="post-author"><img alt="" src="images/monster_character_simon.jpg"></div>

    <div class="post-head" style="margin-top:60px;">
        <h3><a href="<%- url_for(post.path) %>"><%= post.title %></a></h3>
        <div class="post-meta">
            <div><i class="fa fa-user"></i>BY : <a href="#">NextGen</a></div>
            <div><i class="fa fa-clock-o"></i><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time></div>
            <div><i class="fa fa-comments"></i><a href="#">100 Comments</a></div>
            <div><i class="fa fa-heart"></i><a href="#">100</a></div>
        </div>
        <!-- End post-meta -->
        <div class="clearfix"></div>
    </div>
    <!-- End post-head -->
    <div class="post-wrap">
        <div class="post-img">
            <a href="#"><img alt="" src="images/a.jpg"></a>
        </div>
        <div class="post-inner">
            <% if (post.excerpt && index){ %>
                <%- post.excerpt %>
                
            <% } else { %>
                <%- post.content %>
            <% } %>

            <div class="clearfix"></div>
            <div class="post-share-view">
                <div class="post-meta">
                    <div><i class="fa fa-eye"></i><span>10 </span>Views</div>
                    <div class="post-meta-share">
                        <i class="fa fa-share-alt"></i>
                        <a href="#">Share This</a>
                        <div class="share-social">
                            <ul>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <!-- End follow-social -->
                    </div>
                    <a href="<%- url_for(post.path) %>" class="button post-more">Continue Reading</a>
                </div>
                <!-- End post-meta -->
            </div>
            <!-- End post-share-view -->
            <div class="clearfix"></div>
        </div>
        <!-- End post-inner -->
    </div>
    <!-- End post-wrap -->
</div>
<!-- End post -->

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>